@charset "ISO-8859-1";

*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    background-color: #000;
}

button{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 0.7rem;
    width: 11rem;
    height: 5rem;
    font-size: 5rem;
    font-weight: 700;
    background-color: #4cbd49;
    color: #fbfbfb;
    border-radius: 10px;
    border: none;
}