@charset "ISO-8859-1";

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 20rem;
    height: 25rem;
}